.app-tag {
  background-color: rgba(64, 158, 255, 0.1);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: #409eff;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid rgba(64, 158, 255, 0.2);
  white-space: nowrap;
}
