.app-header {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  border-bottom: solid 1px #ddd;
  display: flex;
}

.logo {
  margin-right: 30px;
}

.logo__img {
  height: 60px;
}

.nav {
  display: flex;
}

.nav__item {
  color: #333;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
}

.nav__item--active {
  border-bottom: 2px solid #1bb4dd;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}
